ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    height: 600px;
    overflow-y: scroll;
}

li {
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #ccc;
    height: 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.amount {
    color: #ccc;
}